{
    "rules": {
        "no-unused-expressions": 0
    },
    "globals": {
        "it": false,
        "describe": false,
        "beforeEach": false,
        "afterEach": false,
        "before": false,
        "after": false
    }
}
